<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> a8b5e52 (almost done)
=======
>>>>>>> 54acd30 (done)
=======
=======
>>>>>>> a8b5e52 (almost done)
>>>>>>> ef49cbe (done)
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
section#about {
    display: flex;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-size: 50% 50%;
    align-items: center;
    justify-content: center;
}

section#about::before {
    content: "";
    position: absolute;
    opacity: 1;
<<<<<<< HEAD
    background: url('/./img/bg/about2.jpg');
    background-attachment: fixed;
    filter: blur(2px);
=======
    background: url('/static/img/section/bg2.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    filter: blur(1px);
>>>>>>> a8b5e52 (almost done)
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.collect {
    position: relative;
    display: inline-flex;
<<<<<<< HEAD
    border: 1px solid white;
=======
    border: 1px solid rgb(8, 8, 8);
>>>>>>> a8b5e52 (almost done)
    box-shadow: 10px 10px 30px 10px rgb(0, 0, 0);
}

.collect::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-flex;
<<<<<<< HEAD
    background: #838083;
=======
    background: #b9b8b8;
>>>>>>> a8b5e52 (almost done)
    opacity: 1;
    z-index: -1;
}

.collect .holdText {
<<<<<<< HEAD
    font-size: 40px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
=======
    font-size: 2.5rem;
    font-weight: 500;
    height: 9vh;
    /* line-height: 75%; */
>>>>>>> a8b5e52 (almost done)
    color: rgb(255, 255, 255);
}

.collect .movingText {
<<<<<<< HEAD
    margin-left: 15px;
    height: 40px;
=======
    /* margin-left: 1%; */
    height: 8vh;
>>>>>>> a8b5e52 (almost done)
    line-height: 40px;
    overflow: hidden;
}

.movingText li {
    list-style: none;
    font-size: 40px;
    font-weight: 500;
    padding-top: 5px;
    color: green;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -180px;
    }
}

.movingText li span {
    position: relative;
    z-index: -1;
}

.movingText li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 40px;
    width: 100%;
<<<<<<< HEAD
    background-color: #858283;
=======
    background-color: #b9b8b8;
>>>>>>> a8b5e52 (almost done)
    z-index: 1;
    border: none;
    border-left: 2px solid green;
    animation: typing 2s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -30px 0 30px;
    }
}

.about {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    color: white;
}

.about::before {
    content: "";
    position: absolute;
<<<<<<< HEAD
    background: url('/./img/bg/bgabout2.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    filter: blur(5px);
=======
    background: url('/static/img/section/bg3.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    /* background: #000; */
    filter: blur(2px);
>>>>>>> a8b5e52 (almost done)
    /* background-size: 5; */
    width: 100%;
    height: 100vh;
    z-index: -2;
}

hr {
<<<<<<< HEAD
    border-width: 0.5px;
=======
    border-width: 1%;
>>>>>>> a8b5e52 (almost done)
    border-color: rgb(255, 255, 255);
}

.frame {
    position: relative;
<<<<<<< HEAD
    left: 10%;
    top: 9%;
=======
    left: 5%;
    top: 5%;
>>>>>>> a8b5e52 (almost done)
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 0.2px solid white; */
    border-radius: 10px;
<<<<<<< HEAD
    /* background-color: rgb(0, 0, 0); */
    padding: 10px;
    width: 500px;
    max-height: 85.5vh;
    color: rgb(255, 255, 255);
    /* box-shadow: 0 0 30px rgb(11, 100, 3); */
    box-shadow: 0 0 30px rgb(255, 255, 255);
=======
    background-color: rgba(124, 124, 124, 0.726);
    padding: 1%;
    width: 40%;
    max-height: 85.5vh;
    color: rgb(255, 255, 255);
    /* box-shadow: 0 0 30px rgb(11, 100, 3); */
    box-shadow: 0 0 10px rgb(255, 255, 255);
    overflow: hidden;
>>>>>>> a8b5e52 (almost done)
}

.frame::before {
    content: "";
    position: absolute;
<<<<<<< HEAD
    background: url('/./img/bg/bgabout2.jpg') center center/cover no-repeat;
=======
    background: url('/static/img/section/bg3.jpg') center center/cover no-repeat;
>>>>>>> a8b5e52 (almost done)
    background-attachment: fixed;
    width: 100%;
    /* padding: 10px; */
    height: 85.5vh;
    z-index: -1;
    border-radius: 10px;
}

.frame:hover {
<<<<<<< HEAD
    color: green;
=======
    color: rgb(0, 0, 0);
>>>>>>> a8b5e52 (almost done)
    /* -webkit-box-reflect: left 1px linear-gradient(transparent, #b3b3b3); */
}

.frame .resume {
    text-align: center;
    font-weight: bold;
}

<<<<<<< HEAD
.frame .headResume .headResume {
    line-height: 0;
}

.frame .headResume .fname {
    font-size: 18px;
    line-height: 1.5;
}

.frame .headResume .email {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.frame .headResume .phoneNumber {
    font-size: 12px;
    font-weight: 400;
}

.frame .headResume .address {
    font-size: 10px;
    line-height: 1.5;
=======
.frame .headResume .fname {
    font-size: 1rem;
    /* line-height: 1.5; */
}

.frame .headResume .email {
    font-size: 0.7rem;
    font-weight: 400;
}

.frame .headResume .phoneNumber {
    font-size: 0.7rem;
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .summary {
<<<<<<< HEAD
    font-size: 18px;
    line-height: 1.5;
}

.frame .summaryBody {
    font-size: 12px;
    line-height: 1.5;
=======
    font-size: 1rem;
    /* line-height: 1.5; */
}

.frame .summaryBody {
    font-size: 0.6rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .education {
<<<<<<< HEAD
    font-size: 18px;
    line-height: 1.5;
}

.frame .btech {
    font-size: 14px;
    line-height: 1.5;
=======
    font-size: 1rem;
    /* line-height: 1.5; */
}

.frame .btech {
    /* border: 1px solid white; */
    font-size: 0.8rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .btech span {
<<<<<<< HEAD
    font-size: 14px;
    margin-left: 160px;
}

.frame .btech p {
    font-size: 12px;
    line-height: 1;
=======
    /* border: 1px solid white; */
    font-size: 0.7rem;
    /* margin-left: 80%; */
}

.frame .btech p {
    /* border: 1px solid white; */
    font-size: 0.7rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .btech p span {
<<<<<<< HEAD
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}

.frame .t12th {
    font-size: 14px;
    line-height: 1.5;
=======
    /* border: 1px solid white; */
    font-size: 0.7rem;
    /* line-height: 1.5; */
    font-weight: 400;
    /* margin-left: 80%; */
}

.frame .t12th {
    font-size: 0.7rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .t12th span {
<<<<<<< HEAD
    font-size: 14px;
    margin-left: 340px;
}

.frame .t12th p {
    font-size: 12px;
    line-height: 1;
=======
    font-size: 0.7rem;
    /* margin-left: 90%; */
}

.frame .t12th p {
    font-size: 0.7rem;
    /* line-height: 1; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .t12th p span {
<<<<<<< HEAD
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    margin-left: 285px;
}

.frame .t10th {
    font-size: 14px;
    line-height: 1.5;
=======
    font-size: 0.7rem;
    /* line-height: 1; */
    font-weight: 400;
    /* margin-left: 86%; */
}

.frame .t10th {
    font-size: 0.7rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .t10th span {
<<<<<<< HEAD
    font-size: 14px;
    margin-left: 350px;
}

.frame .t10th p {
    font-size: 12px;
    line-height: 1.5;
=======
    font-size: 0.7rem;
    /* margin-left: 90%; */
}

.frame .t10th p {
    font-size: 0.7rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .t10th p span {
<<<<<<< HEAD
    font-size: 12px;
    font-weight: 400;
    margin-left: 285px;
}

.frame .project {
    font-size: 16px;
    line-height: 1.5;
}

.frame .projectspan {
    font-size: 14px;
    font-weight: 400;
    margin-left: 240px;
}

.frame .project p {
    font-size: 12px;
    line-height: 1.5;
=======
    font-size: 0.7rem;
    font-weight: 400;
    /* margin-left: 70%; */
}

.frame .project {
    font-size: 1rem;
    /* line-height: 1.5; */
}

.frame .project span {
    font-size: 0.7rem;
    font-weight: 400;
    /* margin-left: 240px; */
}

.frame .project p {
    font-size: 0.7rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .project .gbm {
<<<<<<< HEAD
    font-size: 14px;
    line-height: 1.5;
=======
    font-size: 1rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .skills {
<<<<<<< HEAD
    font-size: 16px;
    line-height: 1.5;
=======
    font-size: 1rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
}

.frame .skills .skill {
    display: flex;
<<<<<<< HEAD
    font-size: 14px;
    line-height: 1.5;
=======
    font-size: 0.9rem;
    /* line-height: 1.5; */
>>>>>>> a8b5e52 (almost done)
    font-weight: 400;
}

.frame .skills .skill .value {
<<<<<<< HEAD
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}


/* .about a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    height: 70px;
    width: 200px;
    padding: 20px;
    font-size: 2rem;
    color: #b3b3b3;
    text-transform: uppercase;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-box-reflect: below -1px linear-gradient(transparent, rgba(40, 43, 46, 1));
    top: 40%;
    left: 20%;
} */


/* .about a::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 30px;
        height: 30px;
        /* background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
        background-size: 400%; 
        border-top: 2px solid linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
        border-left: 2px solid linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
        /* background-size: 400%; */


/* opacity: 0; 
        transition: 0.5s;
        z-index: -1;
        /* animation: animate 20s linear infinite; 
}
*/


/*     
    .about a::after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 10px;
        height: 10px;
        border-right: 2px solid linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
        border-bottom: 2px solid linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00); 
        /* background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
        background-size: 400%; */


/* opacity: 0; */


/* filter: blur(20px); */


/* transition: 0.5s;
        z-index: -1; */


/* animation: animate 20s linear infinite; */


/* } */


/*     
    .about a:hover::before,
    .about a:hover::after {
        opacity: 1;
    } */


/* .about a spa {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    /* line-height: 20px; 

transition: 0.4s;
color: rgba(255,
255,
255,
0.2);
background: #000;
box-shadow: 0 0 20px rgb(6,
98,
218);

}
.about a spa:hover {
    background: #000;
    color: rgba(255, 255, 255, 2);
    box-shadow: 0 0 20px green;
}
:root {
    --grade-border: linear-gradient(120deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    --color: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
}
.about a::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    transition: 0.5s;
    background: var(--grade-border);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.about a::after {
    content: "";
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 20px;
    height: 20px;
    transition: 0.5s;
    background: var(--grade-border);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.about a:hover::before {
    width: 102%;
    height: 102%;
    transition: 0.8s;
    animation: animate 20s linear infinite;
}
.about a:hover {
    background: #000;
}
.about a:hover::after {
    width: 102%;
    height: 102%;
    transition: 0.8s;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    
    50% {
        background-position: 20px 0;
    }
    
    100% {
        background-position: 0 0;
    }
}
*/

.about .seprate {
    position: relative;
    left: 150px;
    /* border: 2px solid white; */
    top: 9%;
    display: flex;
    border-radius: 10px;
    /* background-color: rgb(0, 0, 0); */
    width: 500px;
=======
    font-size: 0.7rem;
    font-weight: 400;
    /* margin-left: 10px; */
}

.down {
    cursor: pointer;
    border-radius: 1%;
    /* padding: 1%; */
    border: none;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    height: 3vh;
    background: transparent;
    font-weight: bold;
}

.down:hover {
    color: white;
}

.about .seprate {
    position: relative;
    left: 15%;
    /* border: 2px solid white; */
    top: 15%;
    display: flex;
    border-radius: 10px;
    /* background-color: rgb(0, 0, 0); */
    width: 30%;
>>>>>>> a8b5e52 (almost done)
    max-height: 85.5vh;
    /* color: rgb(255, 255, 255); */
    /* box-shadow: 0 0 30px rgb(11, 100, 3); */
    /* box-shadow: 0 0 30px rgb(5, 207, 243); */
}

.about .seprate a bro {
    /* border: 2px solid white; */
    position: absolute;
    display: inline-block;
    padding: 8px;
    margin: 40% 28%;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-radius: 50px;
<<<<<<< HEAD
    background: url('/./img/bg/bgabout2.jpg') center center/cover no-repeat;
=======
    background: url('/static/img/section/bg3.jpg') center center/cover no-repeat;
>>>>>>> a8b5e52 (almost done)
    background-attachment: fixed;
    text-align: center;
    height: 70px;
    width: 200px;
<<<<<<< HEAD
    box-shadow: 0 0 20px rgb(202, 194, 194);
=======
    box-shadow: 0 0 10px rgb(202, 194, 194);
>>>>>>> a8b5e52 (almost done)
    transition: 0.8s;
    overflow: hidden;
}

.about .seprate a bro:hover {
<<<<<<< HEAD
    color: green;
    overflow: hidden;
    background: url('/./img/bg/bgabout2.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    box-shadow: 0 0 20px green;
=======
    color: rgb(3, 3, 3);
    overflow: hidden;
    background: url('/static/img/section/bg3.jpg') center center/cover no-repeat;
    background-attachment: fixed;
    box-shadow: 0 0 20px rgb(2, 2, 2);
>>>>>>> a8b5e52 (almost done)
}

bros {
    position: absolute;
    background: linear-gradient(90deg, green, rgb(0, 0, 0));
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: anime 1s linear infinite;
}

@keyframes anime {
    0% {
        width: 0;
        height: 0;
        opacity: 0.9;
    }
    100% {
        width: 500px;
        height: 420px;
        opacity: 0;
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
>>>>>>> 5ab05b1 (almost done)
=======
}
>>>>>>> a8b5e52 (almost done)
=======
}
=======
>>>>>>> 5ab05b1 (almost done)
>>>>>>> 54acd30 (done)
=======
}
=======
>>>>>>> 5ab05b1 (almost done)
=======
}
>>>>>>> a8b5e52 (almost done)
>>>>>>> ef49cbe (done)
