<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fuzzy+Bubbles&display=swap');
section#contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
}

section#contact::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    background: url("/static/img/section/bg1.jpg") center center/cover no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    filter: blur(3px);
    z-index: -5;
}

section#contact .img {
    position: relative;
    /* border: 1px solid black; */
    align-items: center;
    margin-left: 5%;
    width: 40%;
    background: url('static/img/bg/handshake2.png') center center/cover no-repeat;
    background-size: 100% 50%;
    /* filter: blur(5px); */
    height: 95vh;
}

.row {
    /* border: 2px solid white; */
    display: flex;
}

section#contact .headingContact {
    position: relative;
    width: 40%;
    margin-top: 3%;
    margin-left: 7%;
    height: 82vh;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    /* border: 1px solid black; */
    overflow: hidden;
    border-radius: 5%;
}

section#contact .headingContact::before {
    content: "";
    position: absolute;
    left: 0%;
    opacity: 1;
    width: 100%;
    border-radius: 5%;
    z-index: -4;
}

section#contact .headingContact::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    background: url("/static/img/section/bg1.jpg") center center/cover no-repeat;
    background-size: 100%;
    width: 100%;
    background-attachment: fixed;
    /* height: 100vh; */
    z-index: -3;
}

section#contact .refrence {
    position: absolute;
    bottom: 1%;
    height: 5vh;
    /* margin-right: 10px; */
    padding: 2px;
    color: black;
    width: 98%;
    font-size: 0.8rem;
    /* border: 5px solid black; */
}

section#contact .headingContact table {
    width: 100%;
}

section#contact .headingContact table input {
    border: none;
    border-bottom: 1px solid black;
    /* margin: 1%; */
    padding: 1%;
    margin-left: 1%;
    margin-top: 1%;
    color: green;
    /* font-weight: bold; */
    width: 96%;
    height: 3.5vh;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: 0.8s;
    /* background: linear-gradient(0deg, rgba(250, 250, 250, 0.192), rgba(62, 111, 170, 0.445), rgba(11, 34, 48, 0.486), rgba(43, 43, 43, 0.918)); */
    box-shadow: 0px 5px 10px rgba(248, 248, 248, 0);
}

section#contact .headingContact table input:focus {
    outline: none;
}

input::-webkit-input-placeholder {
    color: #000000;
    font-size: 0.7rem;
    font-weight: 500;
    opacity: 1;
    font-family: 'Comfortaa', cursive;
}

section#contact .headingContact table .special {
    border: none;
    border-bottom: 1px solid black;
    resize: none;
    color: green;
    margin-top: 4%;
    padding: 1px;
    width: 99%;
    font-family: 'Fuzzy Bubbles', cursive;
    height: 22vh;
    font-size: 1.5rem;
    text-align: left;
    /* background: linear-gradient(0deg, rgba(250, 250, 250, 0.192), rgba(62, 111, 170, 0.445), rgba(11, 34, 48, 0.486), rgba(43, 43, 43, 0.918)); */
}

section#contact .headingContact table .special:focus {
    outline: none;
}

section#contact .headingContact .bottn:hover {
    color: green;
    background: rgb(49, 49, 49);
}

section#contact .headingContact .conts {
    /* margin: 1%; */
    overflow: hidden;
    background: rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    /* border: 2px solid blue; */
    height: 70vh;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    /* z-index: 0; */
}

section#contact .headingContact .socialArea {
    position: relative;
    bottom: -1%;
    /* margin-left: 10px; */
    overflow: hidden;
    width: 96%;
    background: rgba(0, 0, 0, 0.26);
    border-radius: 40%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.993);
    /* border: 2px solid blue; */
    /* z-index: -3; */
}

section#contact .headingContact .bottn {
    position: relative;
    display: block;
    margin-left: 5%;
    width: 25%;
    height: 4.5vh;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1.3rem;
    background: linear-gradient(0deg, rgb(71, 70, 70), rgb(75, 70, 70), rgb(82, 72, 68));
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

section#contact .headingContact .bottn::before {
    position: absolute;
    top: -2px;
    right: -2px;
    height: 70%;
    width: 20%;
    background-color: #06ff1b;
    content: "";
    z-index: -1;
}

section#contact .headingContact .bottn:hover::before {
    width: 102%;
    height: 102%;
    transition: 0.8s;
    animation: animate 20s linear infinite;
}

section#contact .headingContact .bottn::after {
    position: absolute;
    content: "";
    left: -2px;
    bottom: -2px;
    background-color: #06ff1b;
    z-index: 2;
    width: 20%;
    height: 70%;
    z-index: -1;
}

section#contact .headingContact .bottn:hover::after {
    width: 102%;
    height: 102%;
    transition: 0.8s;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 20px 0;
    }
    100% {
        background-position: 0 0;
    }
}

.login::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
}

.fab:hover {
    color: rgba(0, 128, 0, 0.644);
}

.fab {
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.fab a {
    text-decoration: none;
}

.warn {
    display: flex;
    position: relative;
    top: 7vh;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    justify-content: center;
    vertical-align: text-top;
    height: 5vh;
    background: #06ff1b41;
    border-top: 1px solid #06ff1b41;
    border-bottom: 1px solid #06ff1b41;
    /* overflow: hidden; */
    z-index: 4;
}

.warn p {
    position: relative;
    top: -6px;
    color: blue;
    /* border: 2px solid black; */
    text-align: center;
    letter-spacing: 2px;
    /* padding: -10px; */
}

.warn button {
    border: 1px solid rgb(255, 5, 5);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px red;
    position: absolute;
    right: 20px;
    top: 1px;
    height: 1.2em;
    cursor: pointer;
    width: 1.2em;
    background: red;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}

.warn button:hover {
    background: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    box-shadow: none;
}
=======
>>>>>>> 5ab05b1 (almost done)
