<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> a8b5e52 (almost done)
section#home {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 100vh;
    color: #f4f4f4;
    background: linear-gradient(60deg, black, rgb(20, 20, 20), rgb(29, 29, 29), rgb(20, 20, 20), rgb(10, 10, 10));
    background-attachment: fixed;
    /* overflow: hidden; */
    overflow: hidden;
}

.imgqot {
    display: flex;
    /* border: 2px solid white; */
}

.homes {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    flex-direction: column;
    /* border: 2px solid white; */
    width: 45%;
    /* margin-top: 5%; */
    margin-left: 3%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.homes .left {
    display: inline-block;
    position: relative;
    text-align: right;
    align-self: flex-end;
    margin-left: 10%;
}

section h1 {
    width: 100%;
    /* height: 100vh; */
}

section .p {
    font-size: 3rem;
}

section .p1 {
    font-size: 2rem;
}

.bgimg {
    /* border: 1px solid white; */
    position: relative;
    top: -5%;
    width: 60%;
    height: 100vh;
    margin-left: 5%;
    background: url('/static/img/section/img5.png') center center/cover no-repeat;
    background-size: 100% 100%;
<<<<<<< HEAD
}
=======
>>>>>>> 5ab05b1 (almost done)
=======
}
>>>>>>> a8b5e52 (almost done)
