{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link rel="stylesheet" href="/static/css/main.css"> -->

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- <link rel="stylesheet" href="static/css/home.css"> -->

    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <!-- <link rel="stylesheet" href="static/css/contact.css"> -->

    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <!-- <link rel="stylesheet" href="static/css/about.css"> -->

    <link rel="stylesheet" href="{% static 'css/newworld.css' %}">
    <!-- <link rel="stylesheet" href="static/css/newworld.css"> -->
    <title>Puru-Professional</title>
    <style>
        /* main.css */
    </style>
    <style>
        /* home */
    </style>
    <style>
        /* contact.css */
    </style>
    <style>
        /* about.css */
    </style>
    <style>
        /* new world.css */
    </style>
</head>

<body>
    <div class="contens">
        <!-- <div class="open">
            <div class="layer">
                Puru
            </div>
            <div class="layer">
                Professional
            </div>
        </div> -->
        <section class="home" id="home">

            <nav class="navbar" id="navbar">
                <div id="logo">
                    <a href="/">
                        <img src="{% static 'img/logo/logo2.png' %}" alt="no img">
                    </a>
                </div>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#newWorld">New World</a></li>
                    <li>
                        <a href="entrance">
                            <span class="login"></span> Login / Singup
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#home" class="back">&#8682;</a> {% if messages %}
            <div class="warn" id="msg">
                {% for message in messages %}
                <p>
                    {{ message }}
                </p>
                {% endfor %}

                <button onclick="myFunction()">X</button>
            </div>
            {% endif %}
            <!-- <div id="cursor"></div> -->
            <div class="imgqot">

                <div class="homes">
                    <p class="p">"I Believe In Support,</p>
                    <p class="p1">When They Make Efforts"</p>
                    <p class="left">-Purushottam</p>
                </div>
                <div class="bgimg"></div>
            </div>

        </section>
        <section class="contact" id="contact">


            <div class="row">

                <div class="img">
                </div>
                <div class="refrence">
                    <p>Icon From Handshake Clipart PNG Designed By 红尘紫衣 from
                        <a target="__blank" href="https://pngtree.com/freepng/handshake-gesture_952129.html?sol=downref&id=bef">https://pngtree.com/freepng/handshake-gesture_952129.html?sol=downref&id=bef</a> </p>
                </div>
                <div class="headingContact">
                    <h3 style="font-family: 'Fuzzy Bubbles', cursive;
                    font-size: 1rem;">Hey! Dude Wanna Join Me Before We Go-(Let's Go)</h3>
                    <div class="conts">
                        <form action="main.html" method="post">
                            {% csrf_token %}
                            <table>
                                <tr>
                                    <td><input type="text" style="border-radius:8px 8px 0px 0px;" name="name" id="name" placeholder="ENTER YOUR NAME" required></td>
                                </tr>
                                <tr>
                                    <td><input type="number" name="phone" id="phone" placeholder="ENTER YOUR PHONE NUMBER" required></td>
                                </tr>
                                <tr>

                                    <td><input type="email" name="email" id="email" placeholder="ENTER YOUR @ EMAIL"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="reason" id="reason" placeholder="RELATIVE / REASON FOR JONING ME"></td>
                                </tr>

                                <tr>
                                    <td><textarea id="subject" name="subject" class="special" placeholder="Explain Your Matter Dude"></textarea>
                                    </td>
                                </tr>


                            </table>
                            <button type="submit" class="bottn" onclick="myFunctions()">submit</button>
                        </form>
                        <div class="socialArea">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="about">
            <div class="collect">
                <div class="holdText">
                    You're in my
                </div>
                <ul class="movingText">
                    <li><span>Web Resume</span></li>
                    <li><span>Web World</span></li>
                    <li><span>Web Life</span></li>
                    <li><span>Mind</span></li>

                </ul>
            </div>
        </section>
        <section class="about">
            <div class="frame">
                <div class="resume"> RESUME </div>
                <hr>
                <div class="headResume">
                    <div class="fname">Purushottam</div>
                    <div class="email">rbose7375@gmail.com,+91-9716754099,8510029956
                    </div>
                    <div class="phoneNumber">E-737-b,Nandgram,Ghaziabad,u.p (201003)</div>
                </div>
                <hr>
                <div class="summary">Summary</div>
                <hr>
                <div class="summaryBody">
                    To secure employment as a software engineer/ web developer to utilize my software installation and configuration skills to meet the requirements of company clients and being a best leader for my team to take all over responsibilities of my team always
                    supported to every one until front of one is also efforts on itself. - “I believe in support when they doing efforts.”
                </div>
                <hr>
                <div class="education">Education</div>
                <hr>
                <div class="btech">B. Tech - Bachelor of Technology (Computer science) <span>73%</span>
                    <P>Sanskar college of engineering and technology, Ghaziabad <span>Aug, 2021
                </span></p>
                </div>
                <div class="t12th">Class XII (UP Board) <span>50% </span>
                    <P>S.S.D Inter College, Ghaziabad <span> May, 2017</span></p>
                </div>
                <div class="t10th">Class X (UP Board) <span> 70%</span>
                    <P>S.S.D Inter College, Ghaziabad <span> May, 2015</span></p>
                </div>
                <hr>
                <div class="project">INTERNSHIP & PROJECTS
                    <hr>
                    <div class="gbm">Full Stack Developer <span> - Golden Beacon Media</span>
                        <P>Developing website from python, Django and managing their Database in my sqlite3. Django is web framework which is a module of python.
                        </p>
                    </div>

                </div>
                <hr>
                <div class="skills">ADDITIONAL INFORMATION
                    <hr>
                    <div class="skill">Technical Skills:
                        <div class="value">
                            <p>Microsoft Office, C, Python, Django, Block Chain, HTML,CSS,Javascript,Shopify, Android Studio, Computer Hardware,Hardware Assembling. </p>
                        </div>
                    </div>
                    <a href="{% static 'file/puru_ resume.pdf' %}" download>
                        <button type="submit" class="down">Download My Resume✔</button>
                    </a>
                </div>


            </div>
            <!-- <a href="#" class="presonalButton" > <spa id="personalButton"><span></span></spa></a> -->
            <div class="seprate">
                <a href="personaldetail" class="presonalButton">
                    <bro>personal detail</bro>
                </a>
            </div>
        </section>
        <section class="newworld" id="newWorld">
            <div class="newContent">
                <div class="fourSet">
                    <a href="gallarys">
                        <div class="gallary">
                            <img src="{% static 'img/bg/contact2.png' %}" height="150" alt="gallary img">
                            <div class="nameData">Gallary</div>
                        </div>
                    </a>
                </div>

            </div>
        </section>
        <section class="foot" id="footer">
            <footer>
                <table>
                    <tr>
                        <ul>
                            <td>
                                <li>
                                    <a href="#home"> Home </a>
                                </li>
                            </td>
                            <td>
                                <li>
                                    <a href="#about"> About </a>
                                </li>
                            </td>
                            <td>
                                <li>
                                    <a href="#contact"> Contact </a>
                                </li>
                            </td>
                            <td>
                                <li>
                                    <a href="#newworld"> New-World </a>
                                </li>
                            </td>
                            <td>
                                <li>
                                    <a href="entrance">
                                        <span class="login"></span> Login
                                    </a>
                                </li>
                            </td>
                    </tr>
                    <tr>
                        <div class="socialArea">
                            <td>
                            </td>
                            <td>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                            </td>
                            <td>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </td>
                            <td>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </td>
                        </div>
                    </tr>
                    </ul>
                </table>
            </footer>
        </section>
    </div>
    <script src="{% static 'js/about.js' %}"></script>

    <script src="{% static 'js/contact.js' %}"></script>
</body>

</html>