{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/personal.css">
    <title>Personal Info</title>
</head>

<body>
    <a href="main" class="back">&#8617;</a>
    <div class="main" style="text-align: center;">

        <div class="container">
            {% if detail %} {% for i in detail %}
            <!-- Full-width images with number text -->
            <div class="mySlides">
                <div class="numbertext">{{i.id}} / {{detail|length}}</div>
                <a href="#detail" onclick="opensection()">
                    <img src="/media/{{i.img}}" style="width:auto; height:80vh;">
                    <p class="caption-container">{{i.name}}</p>
                </a>

            </div>
            {% endfor %} {% else %} nothing is here {% endif %}

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <!-- Next and previous buttons -->

            <!-- Thumbnail images -->
            {% if detai %} {% for i in detai %}
            <div class="row" style="text-align: center;">
                <div class="column">
                    <img class="demo cursor" src="/media/{{i.img}}" style="width: 60%; height:17vh;" onclick="currentSlide(this.id)" id="{{i.id}}" alt="">
                </div>
                {% endfor %}
            </div>
            {% else %} nothing is here {% endif %}
        </div>




        <!-- <br> -->
        <section id="detail">
            <div class="four" style="display: flex; flex-direction: column; ">
                <div class="charinrow" style=" display: flex; height: 45vh; text-align: center;">
                    {% if deta %} {% for i in deta|slice:'0:' %}
                    <div class="card" style="text-align: center;">
                        <img src=" /media/{{i.img}} " alt="Avatar " style="height:18vh ;  ">
                        <div class="container ">
                            <table>
                                <thead>
                                    <th>
                                        <tr>
                                            <td>
                                                <b> Name</b>
                                            </td>
                                            <td>
                                                <b>   {{i.name}} </b>
                                            </td>
                                        </tr>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b> D-O-B</b>
                                        </td>
                                        <td>
                                            {{i.age}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b> Relation </b>

                                        </td>
                                        <td>
                                            {{i.relation}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Phone no. </b>

                                        </td>
                                        <td>
                                            {{i.phone}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b> Email </b>

                                        </td>
                                        <td>
                                            {{i.email}}

                                        </td>
                                    </tr>
                                    <tr>
                                        <tr>
                                            <td>
                                                <b> Occupation </b>

                                            </td>
                                            <td>
                                                {{i.occupation}}

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b> Language </b>
                                            </td>
                                            <td>
                                                {{i.mothertounge}}

                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
                <div class="charinrow" style=" display: flex; height: 48vh;text-align: center;">
                    {% endif %} {% endfor %}
                </div>
                {% endif %}
        </section>
        </div>


    </div>

</body>
<script src="{% static 'js/personal.js' %} "></script>

</html>