<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/account.css">
    <title>Profile</title>
</head>

<body>
    <div class="body">
        <header>
            <form action="#" method="post">
                <div class="imageBackgound header">
                    <!-- <input type="file" id="img" name="img" accept="image/*" alt="no image here"> -->
                    this is header where adding bg ackground and profile photo
                </div>
                <nav>
                    <div class="topnav">
                        <a href="home.html">Home</a>
                        <a href="message.html">Message</a>
                        <a href="notification.html">Notification</a>
                        <a href="profile.html">Profile</a>
                    </div>
                </nav>
            </form>
        </header>
    </div>
    <div class="footer">
        <footer>
            this is footer
        </footer>
    </div>

</body>

</html>